#sanPham {
  margin: 30px 0;
  padding-bottom: 50px;

  h2 {
    margin-bottom: 10px;
    background: linear-gradient(to bottom, red, orange);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }

  .content {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
}

@media screen and (max-width: 576px) {
  #sanPham {
    margin: 30px 0;
    .content {
      width: 380px;
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      margin: 0 auto;
    }
  }
}
@media screen and (max-width: 400px) {
  #sanPham {
    margin: 30px 0;
    .content {
      width: 100%;

      display: flex;
      flex-wrap: wrap;
      gap: 10px;
    }
  }
}
